
@font-face {
  font-family: "proxima-nova", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url('Proxima_Nova_Font.otf') format('otf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'proxima-nova', sans-serif;
}

@media (min-width: 375px) {
  .sign-up-container {
    background: #3778c2;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    border: 1px #3778c2 solid;
    color: black;
  }

  h2 {
    color: black;
    opacity: 0.8;
    margin-bottom: 20px;
    font-size: 28px;
    text-align: center;
    margin-top: 10px;
  }

  a {
    text-decoration: none;
    color: white;
    opacity: 60%;
  }

  .field > input {
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
    width: 100%;
  }

  .actions > input {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    background-color: white;
    color: #3778c2;
    width: 100%;
    font-weight: bold;
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 8px;
  }

  .field_with_errors > input {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    background-color: white;
    color: #3778c2;
    width: 100%;
    font-weight: bold;
    border-radius: 4px;
    margin-top: 0;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 10px;
  }

  .actions > input:focus {
    outline: none;
  }

  *:focus {
    outline: none;
  }

  .error-wrapper {
    padding: 20px;
    margin: 20px;
  }
}
